nav {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

header ul {
    height: 35px;
    width: 500px;
    background-color: rgb(207, 21, 253);
    font-size: 15px;
    font-weight: bolder;
    border-style: solid;
    border-color: #853cb6;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    border-radius: 30px;
    padding: 0;
    margin-top: 2%;
}

a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: white;
}