
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#about {
    padding: 20px;
    width:100%;
    height: auto;
    max-width: 800px;

}

nav {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

header ul {
    height: 35px;
    width: 500px;
    background-color: rgb(207, 21, 253);
    font-size: 15px;
    font-weight: bolder;
    border-style: solid;
    border-color: #853cb6;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    border-radius: 30px;
    padding: 0;
    margin-top: 2%;
}

a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: white;
}
.footer-content {
    height: 150px;
    width: 300px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:15px;
    font-weight: bolder;
    border-style: solid;
    border-color: #853cb6;
    background-color: rgb(207, 21, 253);
    padding: 0;
    margin:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    color: white;
    margin:auto;   
}

/*----------------- product list------------------*/

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 2.5%;
}

.imgProduct {
    width: 90%;
    background-color: #b57edc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.car-product {
    position: relative;
    width: 33%;
    height: auto;
    align-items: center;
    margin-bottom: 2.5%;
    overflow: hidden;
}

.car-product:hover img,
.car-product:hover h3,
.car-product:hover p {
    transition: opacity 0.5s ease;
    opacity: 0.4;
}

.nameProduct {
    color: #4b1c71;
    font-weight: bold;
}

/*Button buy*/

.buy-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: violet;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.car-product:hover .buy-btn {
    opacity: 1;
}

/*Button see more*/

.see-more {
    background-color: violet;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 95%;
    height: 50px;
    display: block;
    margin: auto;
    margin-bottom: 2.5%;
}
  
.see-more:hover {
    background-color: #b57edc;
}
